<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>smartsearch</name>
    <displayName><![CDATA[Smart Search]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Ricerca dinamica avanzata con suggerimenti istantanei, simile a Doofinder]]></description>
    <author><![CDATA[Smart Search Team]]></author>
    <tab><![CDATA[search_filter]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
