<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>smartsearch</name>
    <displayName><![CDATA[Smart Search 2.0]]></displayName>
    <version><![CDATA[2.6.3]]></version>
    <description><![CDATA[Ricerca dinamica intelligente con AI, fuzzy search, sinonimi, filtri avanzati, boosting prodotti e banner promozionali - simile a Doofinder]]></description>
    <author><![CDATA[Michele Pietrafesa]]></author>
    <tab><![CDATA[search_filter]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
